<div style="padding-left: 12px;" ng-show="true">
  <div style="margin-right:8px;">
    <div layout="row">
      
      <div style="font-size: 12px; margin-right:4px;" layout="row">
        <span style="margin:22px 4px 0px 0px;">Currency</span>
        <md-input-container style="margin-top:12px">
          <md-select ng-model="selectedCurr" ng-change="refreshCurrency()">
            <md-option ng-repeat="curr in currency" ng-value="curr.id">
              {{curr.code}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      
      
      
      <div flex></div>
      <div style="margin-right: 12px;">
        <md-switch ng-model="panelsExpanded" aria-label="ShowDetail" md-invert ng-change="expandOVPanel(panelsExpanded)" class="md-primary md-hue-3">
          <div style="font-size: 11px;">Show Detail</div>
        </md-switch>
      </div>
    </div>

    <md-expansion-panel md-component-id="prjBudget">
      <md-expansion-panel-collapsed>
        <md-tooltip md-direction="top">Click to show detail</md-tooltip>
        <div style="font-size: 10px;"><span style="margin-right:2px;"><b>Revised Amount :</b></span>

          <ix-currency-display ng-value={{cProjectOverview.prjSummary.revisedAmount()}} rate={{currentRate()}}></ix-currency-display>

        </div>
      </md-expansion-panel-collapsed>

      <md-expansion-panel-expanded>
        <md-expansion-panel-header ng-click="cAfeOverview.collapsePanel($panel)">
          <md-tooltip md-direction="top">Click to hide detail</md-tooltip>
          <div style="font-size: 10px;" >
            <span style="margin-right:2px;">
              <b>Revised Amount :</b>
            </span>
            <span>
              <ix-currency-display ng-value={{cProjectOverview.prjSummary.revisedAmount()}} rate={{currentRate()}}></ix-currency-display>
            </span>
          </div>
        </md-expansion-panel-header>
        <md-expansion-panel-content ng-click="cAfeOverview.collapsePanel($panel)">
          <table style="font-size: 10px; margin-left: 10px;">
            <md-tooltip md-direction="bottom">Revised Amount = Original Amt + Transferts/<md-tooltip>
              <tr>
                <td><div><i><b>Original Amt :</b></i></div></td>
                <td><div><i><ix-currency-display ng-value={{cProjectOverview.prjSummary.prjAmount}} rate={{currentRate()}}></ix-currency-display></i></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:6px;"><i><b>Transfer :</b></i></div></td>
                <td><div style="margin-top:6px;"><i><ix-currency-display ng-value={{cProjectOverview.prjSummary.prjTransac}} rate={{currentRate()}}></ix-currency-display></i></div></td>
              </tr>
          </table>
        </md-expansion-panel-content>
      </md-expansion-panel-expanded>
    </md-expansion-panel>

    <md-expansion-panel md-component-id="prjCommitedAmount">
      <md-expansion-panel-collapsed>
        <md-tooltip md-direction="top">Click to show detail</md-tooltip>
        <div style="font-size: 10px;">
          <span style="margin-right:2px;"><b>Unavailable Amt. :</b></span>
          <ix-currency-display ng-value={{cProjectOverview.prjSummary.unavailable()}} rate={{currentRate()}}></ix-currency-display>
        </div>
      </md-expansion-panel-collapsed>
      <md-expansion-panel-expanded>
        <md-expansion-panel-header ng-click="cAfeOverview.collapsePanel($panel)">
          <md-tooltip md-direction="top">Click to hide detail</md-tooltip>
          <div style="font-size: 10px;">
            <span style="margin-right:2px;">
              <b>Unavailable Amt. :</b>
            </span>
            <span>
              <ix-currency-display ng-value={{cProjectOverview.prjSummary.unavailable()}} rate={{currentRate()}}></ix-currency-display>
            </span>
          </div>
        </md-expansion-panel-header>
        <md-expansion-panel-content ng-click="cAfeOverview.collapsePanel($panel)">
          <table style="font-size: 10px; margin-left: 10px;">
            <md-tooltip md-direction="bottom">Unavailable Amt = Next Year + Previous years</md-tooltip>
            <tr>
              <td><div style="margin-right:4px; margin-top:6px;"><i><b>Previous years :</b></i></div></td>
              <td><div style="margin-top:6px;"><i><ix-currency-display ng-value={{cProjectOverview.prjSummary.prevYear}} rate={{currentRate()}}></ix-currency-display></i></div></td>
            </tr>
            <tr>
              <td><div style="margin-top:6px;"><i><b>Next Year :</b></i></div></td>
              <td><div style="margin-top:6px;"><i><ix-currency-display ng-value={{cProjectOverview.prjSummary.nextYear}} rate={{currentRate()}}></ix-currency-display></i></div></td>
            </tr>
          </table>
        </md-expansion-panel-content>
      </md-expansion-panel-expanded>
    </md-expansion-panel>

    <md-expansion-panel md-component-id="prjPhasingAmount">
      <md-expansion-panel-collapsed>
        <md-tooltip md-direction="top">Click to show detail</md-tooltip>
        <div style="font-size: 10px;">
          <span style="margin-right:2px;"><b>Yearly Phasing. :</b></span>
          <ix-currency-display ng-value={{cProjectOverview.prjSummary.yrlPhasing()}} rate={{currentRate()}}></ix-currency-display>
        </div>
      </md-expansion-panel-collapsed>
      <md-expansion-panel-expanded>
        <md-expansion-panel-header ng-click="cAfeOverview.collapsePanel($panel)">
          <md-tooltip md-direction="top">Click to hide detail</md-tooltip>
          <div style="font-size: 10px;">
            <span style="margin-right:2px;">
              <b>Yearly Phasing :</b>
            </span>
            <span>
              <ix-currency-display ng-value={{cProjectOverview.prjSummary.yrlPhasing()}} rate={{currentRate()}}></ix-currency-display>
            </span>
          </div>
        </md-expansion-panel-header>
        <md-expansion-panel-content ng-click="cAfeOverview.collapsePanel($panel)">
          <table style="font-size: 10px; margin-left: 10px;">
            <md-tooltip md-direction="bottom">Yearly Phasing = Actual Amount + Forecasted Amount</md-tooltip>
            <tr>
              <td><div style="margin-top:6px;"><i><b>Prj. Forecasted :</b></i></div></td>
              <td><div style="margin-top:6px;"><i><ix-currency-display ng-value={{cProjectOverview.prjSummary.forecast}} rate={{currentRate()}}></ix-currency-display></i></div></td>
            </tr>
            <tr>
              <td><div style="margin-top:6px;"><i><b>AFE Actual :</b></i></div></td>
              <td><i><ix-currency-display ng-value={{cProjectOverview.prjSummary.currentActuals}} rate={{currentRate()}}></ix-currency-display></i></td>
            </tr>
            <tr>
              <td><div style="margin-top:6px;"><i><b>AFE Forecasted :</b></i></div></td>
              <td><div style="margin-top:6px;"><i><ix-currency-display ng-value={{cProjectOverview.prjSummary.currentForecast}} rate={{currentRate()}}></ix-currency-display></i></div></td>
            </tr>
          </table>
        </md-expansion-panel-content>
      </md-expansion-panel-expanded>
    </md-expansion-panel>

    <md-expansion-panel md-component-id="prjAvailableToForecast">
      <md-expansion-panel-collapsed ng-style="cProjectOverview.prjSummary.available() < 0 ? {'background-color': 'red', 'color': 'white'}: {'background-color': 'white', 'color': 'black'}">
        <md-tooltip md-direction="bottom">Avail. to Forecast = Revised Amt. - Unavailable Amt. - Yearly Phasing</md-tooltip>
        <div style="font-size: 10px;">
          <span style="margin-right:2px;"><b>Avail. to Forecast :</b></span>
          <ix-currency-display ng-value={{cProjectOverview.prjSummary.available()}} rate={{currentRate()}}></ix-currency-display>
        </div>
      </md-expansion-panel-collapsed>

      <md-expansion-panel-expanded>
        <md-expansion-panel-header ng-click="cAfeOverview.collapsePanel($panel)">
          <md-tooltip md-direction="bottom">Avail. to Forecast = Revised Amount - Unavailable Amt. - Yearly Phasing</md-tooltip>
          <div style="font-size: 10px;" ng-style="cProjectOverview.prjSummary.available() < 0 ? {'color': 'red'}: {'color': 'black'}"><span style="margin-right:2px;"><b>Avail. to Forecast :</b></span>
            {{cProjectOverview.prjSummary.available() | currency}}
            <ix-currency-display ng-value={{cProjectOverview.prjSummary.available()}} rate={{currentRate()}}></ix-currency-display>
          </div>
        </md-expansion-panel-header>
      </md-expansion-panel-expanded>
    </md-expansion-panel>
  </div>
</div>
