<div style="padding-left: 12px;" ng-show="true">
  <div style="margin-right:8px;">
    <div layout="row">
      <div flex></div>
      <div style="margin-right: 12px;">
        <md-switch ng-model="panelsExpanded" aria-label="ShowDetail" md-invert ng-change="expandOVPanel(panelsExpanded)" class="md-primary md-hue-3">
          <div style="font-size: 11px;">Show Detail</div>
        </md-switch>
      </div>
    </div>

    <md-expansion-panel md-component-id="prjBudget">
      <md-expansion-panel-collapsed>
        <md-tooltip md-direction="top">Click to show detail</md-tooltip>
        <div style="font-size: 10px;"><span style="margin-right:2px;"><b>Budget ({{budgetYear}}) :</b></span>
          {{cProjectOverviewAll.prjSummary.prjAmount + cProjectOverviewAll.prjSummary.prjTransac - cProjectOverviewAll.prjSummary.prjPrevYear - cProjectOverviewAll.prjSummary.prjNextYear - cProjectOverviewAll.prjSummary.afePrevYear - cProjectOverviewAll.prjSummary.afeNextYear| currency}}</div>
      </md-expansion-panel-collapsed>
      <md-expansion-panel-expanded>
        <md-expansion-panel-header ng-click="cProjectOverviewAll.collapsePanel($panel)">
          <md-tooltip md-direction="top">Click to hide detail</md-tooltip>
          <div style="font-size: 10px;" >
            <span style="margin-right:2px;">
              <b>Budget ({{budgetYear}}) :</b>
            </span>
            <span>
              {{cProjectOverviewAll.prjSummary.prjAmount + cProjectOverviewAll.prjSummary.prjTransac - cProjectOverviewAll.prjSummary.prjPrevYear - cProjectOverviewAll.prjSummary.prjNextYear - cProjectOverviewAll.prjSummary.afePrevYear - cProjectOverviewAll.prjSummary.afeNextYear| currency}}
            </span>
          </div>
        </md-expansion-panel-header>
        <md-expansion-panel-content ng-click="cProjectOverviewAll.collapsePanel($panel)">
          <table style="font-size: 10px; margin-left: 10px;">
            <md-tooltip md-direction="bottom">Budget = Original Amt + Transferts - Next Year - Previous years - AFE Prev. years - AFE Next Year<md-tooltip>
              <tr>
                <td><div><i><b>Original Amt :</b></i></div></td>
                <td><div><i>{{cProjectOverviewAll.prjSummary.prjAmount| currency}}</i></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:6px;"><i><b>Transfert :</b></i></div></td>
                <td><div style="margin-top:6px;"><i>{{cProjectOverviewAll.prjSummary.prjTransac| currency}}</i></div></td>
              </tr>
              <tr>
                <td><div style="margin-right:4px; margin-top:6px;"><i><b>Prev. years :</b></i></div></td>
                <td><div style="margin-top:6px;"><i>{{cProjectOverviewAll.prjSummary.prjPrevYear| currency}}</i></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:6px;"><i><b>Next Year :</b></i></div></td>
                <td><div style="margin-top:6px;"><i>{{cProjectOverviewAll.prjSummary.prjNextYear| currency}}</i></div></td>
              </tr>
              <tr>
                <td><div style="margin-right:4px; margin-top:6px;"><i><b>AFE Prev. years :</b></i></div></td>
                <td><div style="margin-top:6px;"><i>{{cProjectOverviewAll.prjSummary.afePrevYear| currency}}</i></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:6px;"><i><b>AFE Next Year :</b></i></div></td>
                <td><div style="margin-top:6px;"><i>{{cProjectOverviewAll.prjSummary.afeNextYear| currency}}</i></div></td>
              </tr>
          </table>
        </md-expansion-panel-content>
      </md-expansion-panel-expanded>
    </md-expansion-panel>

            <md-expansion-panel md-component-id="prjRevisedAmount">
         <md-expansion-panel-collapsed>
         <md-tooltip md-direction="top">Click to show detail</md-tooltip>
         <div style="font-size: 10px;"><span style="margin-right:2px;"><b>Revised Amount :</b></span>
         {{cProjectOverviewAll.prjSummary.prjAmount + cProjectOverviewAll.prjSummary.prjTransac | currency}}</div>
         </md-expansion-panel-collapsed>

         <md-expansion-panel-expanded>
         <md-expansion-panel-header ng-click="cAfeOverview.collapsePanel($panel)">
         <md-tooltip md-direction="top">Click to hide detail</md-tooltip>
         <div style="font-size: 10px;" >
         <span style="margin-right:2px;">
         <b>Revised Amount :</b>
         </span>
         <span>
         {{cProjectOverviewAll.prjSummary.prjAmount + cProjectOverviewAll.prjSummary.prjTransac | currency}}
         </span>
         </div>
         </md-expansion-panel-header>
         <md-expansion-panel-content ng-click="cAfeOverview.collapsePanel($panel)">
         <table style="font-size: 10px; margin-left: 10px;">
         <md-tooltip md-direction="bottom">Revised Amount = Original Amt + Transferts/<md-tooltip>
         <tr>
         <td><div><i><b>Original Amt :</b></i></div></td>
         <td><div><i>{{cProjectOverviewAll.prjSummary.prjAmount | currency}}</i></div></td>
         </tr>
         <tr>
         <td><div style="margin-top:6px;"><i><b>Transfert :</b></i></div></td>
         <td><div style="margin-top:6px;"><i>{{cProjectOverviewAll.prjSummary.prjTransac | currency}}</i></div></td>
         </tr>
         </table>
         </md-expansion-panel-content>
         </md-expansion-panel-expanded>
         </md-expansion-panel>


         <md-expansion-panel md-component-id="prjCommitedAmount">
         <md-expansion-panel-collapsed>
         <md-tooltip md-direction="top">Click to show detail</md-tooltip>
         <div style="font-size: 10px;">
         <span style="margin-right:2px;"><b>Unavailable Amt. :</b></span>
       -{{cProjectOverviewAll.prjSummary.prjPrevYear + cProjectOverviewAll.prjSummary.prjNextYear + cProjectOverviewAll.prjSummary.afePrevYear + cProjectOverviewAll.prjSummary.afeNextYear | currency}}
         </div>
         </md-expansion-panel-collapsed>
         <md-expansion-panel-expanded>
         <md-expansion-panel-header ng-click="cAfeOverview.collapsePanel($panel)">
         <md-tooltip md-direction="top">Click to hide detail</md-tooltip>
         <div style="font-size: 10px;">
         <span style="margin-right:2px;">
         <b>Unavailable Amt. :</b>
         </span>
         <span>
       -{{cProjectOverviewAll.prjSummary.prjPrevYear + cProjectOverviewAll.prjSummary.prjNextYear + cProjectOverviewAll.prjSummary.afePrevYear + cProjectOverviewAll.prjSummary.afeNextYear | currency}}
         </span>
         </div>
         </md-expansion-panel-header>
         <md-expansion-panel-content ng-click="cAfeOverview.collapsePanel($panel)">
         <table style="font-size: 10px; margin-left: 10px;">
         <md-tooltip md-direction="bottom">Unavailable Amt = Next Year + Previous years</md-tooltip>
         <tr>
         <td><div style="margin-right:4px; margin-top:6px;"><i><b>Prev. years :</b></i></div></td>
         <td><div style="margin-top:6px;"><i>{{cProjectOverviewAll.prjSummary.prjPrevYear | currency}}</i></div></td>
         </tr>
         <tr>
         <td><div style="margin-top:6px;"><i><b>Next Year :</b></i></div></td>
         <td><div style="margin-top:6px;"><i>{{cProjectOverviewAll.prjSummary.prjNextYear | currency}}</i></div></td>
         </tr>

         <tr>
         <td><div style="margin-right:4px; margin-top:6px;"><i><b>AFE Prev. years :</b></i></div></td>
         <td><div style="margin-top:6px;"><i>{{cProjectOverviewAll.prjSummary.afePrevYear | currency}}</i></div></td>
         </tr>
         <tr>
         <td><div style="margin-top:6px;"><i><b>AFE Next Year :</b></i></div></td>
         <td><div style="margin-top:6px;"><i>{{cProjectOverviewAll.prjSummary.afeNextYear | currency}}</i></div></td>
         </tr>

         </table>
         </md-expansion-panel-content>
         </md-expansion-panel-expanded>
         </md-expansion-panel>

    <md-expansion-panel md-component-id="prjPhasingAmount">
      <md-expansion-panel-collapsed>
        <md-tooltip md-direction="top">Click to show detail</md-tooltip>
        <div style="font-size: 10px;">
          <span style="margin-right:2px;"><b>Yearly Phasing. :</b></span>
          {{cProjectOverviewAll.prjSummary.actuals + cProjectOverviewAll.prjSummary.forecast + cProjectOverviewAll.prjSummary.currentActuals + cProjectOverviewAll.prjSummary.currentForecast| currency}}
        </div>
      </md-expansion-panel-collapsed>
      <md-expansion-panel-expanded>
        <md-expansion-panel-header ng-click="cProjectOverviewAll.collapsePanel($panel)">
          <md-tooltip md-direction="top">Click to hide detail</md-tooltip>
          <div style="font-size: 10px;">
            <span style="margin-right:2px;">
              <b>Yearly Phasing :</b>
            </span>
            <span>
              {{cProjectOverviewAll.prjSummary.actuals + cProjectOverviewAll.prjSummary.forecast + cProjectOverviewAll.prjSummary.currentActuals + cProjectOverviewAll.prjSummary.currentForecast| currency}}
            </span>
          </div>
        </md-expansion-panel-header>
        <md-expansion-panel-content ng-click="cAfeOverview.collapsePanel($panel)">
          <table style="font-size: 10px; margin-left: 10px;">
            <md-tooltip md-direction="bottom">Yearly Phasing = Actual Amount + Forecasted Amount</md-tooltip>
            <tr>
              <td><span style="margin-right:4px;"><i><b>AFE Actual :</b></i></span></td>
              <td><i>{{cProjectOverviewAll.prjSummary.actuals| currency}}</i></td>
            </tr>
            <tr>
              <td><div style="margin-top:6px;"><i><b>AFE Forecasted :</b></i></div></td>
              <td><div style="margin-top:6px;"><i>{{cProjectOverviewAll.prjSummary.forecast| currency}}</i></div></td>
            </tr>
            <tr>
              <td><div style="margin-top:6px;"><i><b>Cat. Actual :</b></i></div></td>
              <td><div style="margin-top:6px;"><i>{{cProjectOverviewAll.prjSummary.currentActuals| currency}}</i></div></td>
            </tr>
            <tr>
              <td><div style="margin-top:6px;"><i><b>Cat. Forecasted :</b></i></div></td>
              <td><div style="margin-top:6px;"><i>{{cProjectOverviewAll.prjSummary.currentForecast| currency}}</i></div></td>
            </tr>
          </table>
        </md-expansion-panel-content>
      </md-expansion-panel-expanded>
    </md-expansion-panel>

    <md-expansion-panel md-component-id="prjAvailableToForecast">
      <md-expansion-panel-collapsed>
        <md-tooltip md-direction="bottom">Avail. to Forecast = Revised Amt. - Unavailable Amt. - Yearly Phasing</md-tooltip>
        <div style="font-size: 10px;">
          <span style="margin-right:2px;"><b>Avail. to Forecast :</b></span>
          {{cAfeOverview.afePrjSummary.revisedMinusCommitted - (cAfeOverview.afeSummary.afeActual + cAfeOverview.afeSummary.afeCurrentYrForecast) | currency}}
        </div>
      </md-expansion-panel-collapsed>
      <md-expansion-panel-expanded>
        <md-expansion-panel-header ng-click="cProjectOverviewAll.collapsePanel($panel)">
          <md-tooltip md-direction="bottom">Avail. to Forecast = Budget - Yearly Phasing</md-tooltip>
          <div style="font-size: 10px;"><span style="margin-right:2px;"><b>Avail. to Forecast :</b></span>
            {{cAfeOverview.afePrjSummary.revisedMinusCommitted - (cProjectOverviewAll.prjSummary.actuals + cProjectOverviewAll.prjSummary.forecast + cProjectOverviewAll.prjSummary.currentActuals + cProjectOverviewAll.prjSummary.currentForecast) | currency}}</div>
        </md-expansion-panel-header>
      </md-expansion-panel-expanded>
    </md-expansion-panel>
  </div>
</div>

<style>

     .dispValue {
     margin-left:10px;
     margin-top:23px;
     }

     </style>


     <md-content style="padding-left: 12px" ng-show="true">

     <div style="margin-top: 24px;">
     <div class="dispValue">
     <h6><b>Enveloppe total</b></h6>
     <h6>{{cProjectOverviewAll.prjSummary.envTotal | currency}}</h6>
     </div>
     <div class="dispValue">
     <h6><b>Enveloppe remaining</b></h6>
     <h6>{{cProjectOverviewAll.prjSummary.envRemaining | currency}}</h6>
     </div>
     <div class="dispValue">
     <h6><b>Env. avail. to fcst</b></h6>
     <h6>{{cProjectOverviewAll.prjSummary.envAvailableForecast | currency}}</h6>
     </div>
     <div class="dispValue">
     <h6><b>Total amount</b></h6>
     <h6>{{cProjectOverviewAll.prjSummary.totalAmount | currency}}</h6>
     </div>
     <div class="dispValue">
     <h6><b>Remaining amount</b></h6>
     <h6>{{cProjectOverviewAll.prjSummary.remaining | currency}}</h6>
     </div>
     <div class="dispValue">
     <h6><b>Prev. yrs. actual</b></h6>
     <h6>{{cProjectOverviewAll.prjSummary.prevYearActual | currency}}</h6>
     </div>
     <div class="dispValue">
     <h6><b>Next year budget</b></h6>
     <h6>{{cProjectOverviewAll.prjSummary.nextYrBudget | currency}}</h6>
     </div>
     <div class="dispValue">
     <h6><b>Current yr approved budget</b></h6>
     <h6>{{cProjectOverviewAll.prjSummary.currentYrApprovedBudget | currency}}</h6>
     </div>
     <div class="dispValue">
     <h6><b>Current yr phasing</b></h6>
     <h6>{{cProjectOverviewAll.prjSummary.currentYrPhasing | currency}}</h6>
     </div>
     <div class="dispValue">
     <h6><b>Next year forecast</b></h6>
     <h6>{{cProjectOverviewAll.prjSummary.nextYrForecast | currency}}</h6>
     </div>
     <div class="dispValue">
     <h6><b>Actual YTD</b></h6>
     <h6>{{cProjectOverviewAll.prjSummary.actualYTD | currency}}</h6>
     </div>
     <div class="dispValue">
     <h6><b>Current year forecast</b></h6>
     <h6>{{cProjectOverviewAll.prjSummary.currentYrForecast | currency}}</h6>
     </div>
     <div class="dispValue">
     <h6><b>Available to forecast</b></h6>
     <h6>{{cProjectOverviewAll.prjSummary.availableForecast | currency}}</h6>
     </div>
     </div>

     </md-content>
