/auto-save-list/
/sketchboard/
/vimish-fold/
/backups/
/server/
/eshell/
/users/
/temp/
/elpa/
/url/

/abbrev_defs
/smex-items
/bookmarks
/ido.last
/history
/recentf

/.litable-lists.el
/.mc-lists.el

