span.day {
}
div.hidden {
  display: none;
}
span.signature {
#  background-color: blue;
  display: none;
}
div.togsig {
  float: left;
  position: relative;
  margin-left: 0px;
}
div.cite {
#  background-color: blue;
  display: none;
}
div.togcite {
  float: left;
  margin-left: 0px;
}
tr.calendar {
  text-align: right;
}
td.vol0 {
  background: #fff0f0;
}
td.vol5 {
  background: #ffe8e8;
}
td.vol10 {
  background: #ffe0e0;
}
td.vol15 {
  background: #ffd8d8;
}
td.vol20 {
  background: #ffd0d0;
}
td.vol25 {
  background: #ffc8c8;
}
td.vol30 {
  background: #ffc0c0;
}
td.vol40 {
  background: #ffb8b8;
}
td.vol50 {
  background: #ffb0b0;
}
td.vol60 {
  background: #ffa8a8;
}
td.vol70 {
  background: #ffa0a0;
}
td.vol80 {
  background: #ff9898;
}
td.vol90 {
  background: #ff9090;
}
td.vol100 {
  background: #ff8888;
}
td.vol150 {
  background: #ff8080;
}
td.vol200 {
  background: #ff7878;
}
td.vol250 {
  background: #ff7070;
}
td.vol300 {
  background: #ff6868;
}
td.vol350 {
  background: #ff6060;
}
td.vol400 {
  background: #ff5858;
}
td.today {
  background: #10d030;
}
table.calendar {
  border-spacing: 0px;
  border-collapse: collapse;
  border: 0;  
  padding: 0px;
  cellspacing: 0px;
}
div.plot {
  width: 160px;
}
div.monthnav {
  height: 20px;
  width: 200px;
}
span.nextmonth {
  float: right;
}
span.prevmonth {
  float: left;
}
div.totalarticles {
 font-family: verdana, arial, sans-serif;
 color: #333;
 font-size: x-small;
 font-weight: normal;
 line-height: 90%;
} 
span.logo {
  float: right;
}
form input.spam {
  color:#003366;
  font-size:x-small;
  font-weight: bold;
  
  background-color: transparent;
  text-decoration: none;
  border: none;
  cursor: pointer;
  cursor: hand;
  margin: 0pt;
  padding: 0pt;
}
div.support {
 text-align: center;
 background-color: #e0e0e0;
 border: 1px solid black;
}

div.popup { 
  position: fixed; 
  top: 200px; 
  left: 200px; 
  text-align: center; 
  padding: 5px; 
  border: 1px solid black; 
  background: white; 
  width: 800px;
  height: 400px;
}

iframe.fastspam {
  margin: 0cm;
  padding: 0cm;
  border: 1px solid black;
}

span.fastspam {
  background: white;
}
