<md-dialog aria-label="svDialog">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools" style="width:450px;">
        <h5>{{dialogTitle}}</h5>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-content style="margin:12px; width:440px; height:85px; background-color: white;" layout-padding flex>
        {{dialogMessage}}
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised" ng-click="closeDialog()" style="margin:0px 5px 12px 0px;">
        Ok
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
