
<md-dialog aria-label="NotAvailable">
  <form ng-cloak>
    <md-dialog-content>
      <div layout="column">
        <div style="height:50px; background-color: #ffbd66"><h4 style="margin:15px 0px 0px 8px;">Development</h4></div>
        <div style="margin:24px 24px 0px 24px;" layout="column">
          <h5>This function will be available soon. Please try again later.</h5>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <div style="margin:12px;" layout="row">
        <div flex></div>
        <md-button class="md-raised" ng-click="ok();">Ok</md-button>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>
