<md-dialog aria-label="refCategory">
    <form  name="newCatCtrl.form" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools" style="width:450px;">
                <h5>New Category</h5>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div style="margin:12px; width:400px; height:100px; background-color: white;" layout-padding flex>
                <div>
                    <md-input-container>
                        <label>Categories</label>
                        <md-select name="category" ng-model="selectedCat" placeholder="Select a category" required>
<!--                            <md-option ng-repeat="x in newCategories" ng-value="x.id">-->
                            <md-option ng-repeat="x in newCategories" ng-value="{id: x.id, desc:x.categoryCode + ' - ' + x.description}">
                                {{x.categoryCode}} - {{x.description| capitalize}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" style="padding:0px 10px 4px 0px;">
            <span flex></span>
            <md-button class="md-raised md-accent" ng-click="answer(selectedCat)" ng-disabled="selectedCat < 0">
                Add Category
            </md-button>
            
            <md-button class="md-raised md-accent" ng-click="answer({id: -1, desc:'cancelled'})">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
